.editor-div {
    background-color: aliceblue;
    width: 70vw;
    min-height: 20vh;
    max-height: auto;
    padding: 10px;
    border: 2px solid rgb(177, 215, 249);
    border-radius: 10px;
}


ul[data-type="taskList"] {
  list-style: none; /* removes bullets */
  padding-left: 0;   /* optional: removes indentation */
}

ul[data-type="taskList"] li {
  display: flex;
  align-items: center;
}

.tiptap:first-child {
  margin-top: 0;
}

.tiptap img {
  display: block;
  height: auto;
  margin: 1.5rem 0;
  max-width: 100%;
}

.tiptap img.ProseMirror-selectednode {
  outline: 3px solid var(--purple);
}
